<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <h3>NY Times Web Scraper</h3>
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" id="home" >Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                 <a class="nav-link" id="saved" href="saved">Saved Articles</a>
            </li>
            <li class="nav-item p-1">
                <button type="button" id="scrape" class="btn btn-success">SCRAPE NEW ARTICLES!</button>
            </li>
            <li class="nav-item p-1">
                <button type="button" id="clear" class="btn btn-danger">CLEAR ARTICLES!</button>
            </li>
        </ul>
</nav>
<div class="jumbotron">
    <div class="row">
        <div class="col-3">
        </div>
        <div class="col-6">
            <h1 class="mainTitle display-4">Let's scrape the NYT!</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-3">

        </div>
    </div>
</div>
<div class="col-1"></div>
<div class="col-10">
    <div id="display" style="width: 80rem;"></div>
</div>
<div class="modal fade" id="saveModal" tabindex="-1" role="dialog"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Save Article</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <strong>
                    <h1 id="error"></h1>
                </strong>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

